#fundoFooter{

    background-color: #ca918a;
    border-top: 5px solid #ca857c;

}

#imgPagseguro{

    border: 2px solid #ca857c;
    padding: 15px;
    border-radius: 20px;

}

#fundoListraFooter{

    background-color: #ca857c;

}